.calendar {
    margin: 70px;
    border-collapse: collapse;
}

.header {
    color: black;
    background-color: #f0f0f0;
}

.cell {
    border: 1px solid #ccc;
    padding: 10px;
    vertical-align: top;
    position: relative;
}

.date {
    font-weight: bold;
}

.task-list {
    margin-top: 5px;
}

.estimated-time {
    font-size: 0.9em;
    position: absolute;
    right: 7px;
    bottom: 4px;
}
.highlight {
    padding: 0 6px;
    background: dodgerblue;
    border-radius: 3px;
    font-weight: bold;
}